body{
    font-family: Bahnschrift;
}
header{
    background-color: white;
}
header h1{
    font-size: 80px;
    text-transform: lowercase;
    font-family:Arial;
    font-style: italic;
}
header span{
    font-style: normal;
}
.body{
    background-color: black;
    height: 300px;
}
header span{
    color: #0068F5;
}
.navigationBar ul{
    padding-top: 20px;
    margin-left: -35px;
}
.navigationBar li{
    display: inline;
    font-size: 35px;
}
.navigationBar li:first-of-type{
}
.navigationBar ul:last-of-type{
    float: right;
    margin-top: -80px;
    margin-right: -95px;
}
li{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}
.navigationBar li:hover{
    background-color: #0068F5;
    padding: 15px;
}
header img{
    border-radius: 1500px;
    width: 100px;
    float: right;
    position: relative;
    top:-130px;
    right: 50px;
}
.block img{
    width: 100%;
    margin-top: -13px;
}
.popular{
    margin-left: 100px;
    height: 1500px;
    padding: 0 100px;
    width: 2700px;
    padding-top: 100px;
}
.popular img{
    width: 640px;
    height: 427px;
}
.element{
    background-color: white;
    width: 640px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.popular .heading{
    color: black;
    font-size: 50px;
    text-align: center;
}
.element:hover{
    box-shadow: #003584;
}
.element:nth-of-type(n):hover{
    background-color: rgba(0,104,245,0.2);
}
.popular h2{
    color: gray;
}
.body{
}
.popular{

}
.container{
    background-color: white;
    width: 100%;
    height: 1500px;
}
header h1:hover{
    background-color:rgba(0,104,245,0.2);
    width: 450px;
}
footer{
    background-color: black;
    width: 100%;
    height: 300px;
    color:white;
}
footer p{
    font-size: 35px;
    margin-left: 100px;
    padding-top: 100px;
}
footer sup{
    text-transform: uppercase;
}
a{
    color:white;
    text-decoration: none;
}
.images{
    width: 400px;
    float: right;
    margin-right: 80px;
    margin-top: -80px;
}
.element h1{
    color: black;
}
.images div:first-of-type img{
    width: 100px;
}
.images div:nth-of-type(2) img{
    width: 80px;
    margin-left: 140px;
    margin-top: -120px;
    position: relative;
    bottom: 20px;
}
.images div:last-of-type img{
    width: 80px;
    margin-left: 250px;
    margin-top: -140px;
    position: relative;
    bottom: 40px;
}
header h1{
    color: black;
}
.naslov{
    background-color: red;
    font-size: 50px;
    margin-left: 100px;
    margin-top: -500px;
}
.popular li{
    color: black;
    display: inline;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin:0 2px;
}
.popular ul{
    margin-left: -40px;
}
.popular li:hover{
    color: white;
    background-color: black;
}
.popular li:hover a{
    color: white;
}
.popular a{
    color: black;
}
.popular li:nth-of-type(7){
    background-color: black;
    color:white;
}
.popular li:nth-of-type(7) a{
    color: white;
}
.choice{
    font-size: 40px;
}
.rock{
    font-size: 150px;
    margin-left: 45%;
    color: white;
    font-style: italic;
    margin-top: -2000px;
}
.rock h1{
    text-shadow: black;
}
.login{
    background-color: black;
    color: white;
    width: 1400px;
    height: 1200px;
    margin-left: 800px;
    padding: 20px;
    border-radius: 40px;
}
.container{
    padding-top: 100px;
}
.login h1{
    font-size: 60px;
    text-align: center;
}
.login span{
    color: #0068F5;
    font-family: Arial;
}
.login .ticket{
    font-style: italic;
    color: white;
}
.loginInfo {
    color: #D6DED5;
    border: 1px solid #D6DED5;
    border-radius: 60px;
    padding: 10px;
    width: 500px;
    margin-bottom: 10px;
    margin-left: 450px;
}
.loginInfo p{
    font-size: 27px;
    margin-left: 120px;
    margin-top: -50px;
    font-weight: bold;
}
.loginInfo img{
    width: 60px;
    margin-left: 30px;
    padding-top: 10px;
}
.login:nth-of-type(2) img{
    width: 40px;
    margin-left: 45px;
}
.login:nth-of-type(2) p{
    margin-top: -50px;
}
.login:nth-of-type(3) p{
    margin-top: -45px;
    margin-left: 125px;
}
.login:nth-of-type(3) img{
    width: 40px;
    margin-left: 45px;
}
.loginInfo:hover{
    border: 1px solid white;
    color: white;
}
.loginInfo img{
    width: 40px;
    margin-left: 60px;
}
.login a:first-of-type .loginInfo img{
    width: 60px;
    margin-left: 50px;
}
.login a:first-of-type .loginInfo p{
    margin-top: -45px;
    font-size: 30px;
}
.login a:nth-of-type(2) .loginInfo p{
    margin-top: -35px;
    margin-left: 120px;
    font-size: 30px;
}
.login a:nth-of-type(2) .loginInfo img{
    position: relative;
    top:6px;
}
.login a:nth-of-type(3) .loginInfo p{
    margin-top: -39px;
    margin-left: 120px;
    font-size: 30px;
}
.info input{
    background-color: black;
    color: white;
    border: 1px solid gray;
    padding: 20px;
    width: 450px;
    font-size: 25px;
    border-radius: 10px;
    font-family: Bahnschrift;
}
.info{
    margin-left: 470px;
}
.info p{
    font-size: 25px;
    margin-bottom: 20px;
}
.checkbox input{
    color: white;
    font-size: 70px;
    margin-left: 500px;
}
input p{
    font-size: 100px;
}
.click{
    font-size: 50px;
}
.btn input{
    background-color: #0068F5;
    color: white;
    width: 500px;
    font-size: 25px;
    font-family: Bahnschrift;
    padding: 25px;
    border: 0;
    border-radius: 30px;
    margin-left:470px;
}
.btn input:hover{
    background-color: #003584;
}
.password{
    text-decoration: underline;
    font-size: 25px;
    color: #D6DED5;
    margin-left: 590px;
}
.password:hover{
    color: white;
}
.information{
    font-size: 25px;
    margin-left: 510px;
}
.forgotten {
    text-decoration: underline;
}
.option{
    font-size: 30px;
    background-color: black;
    margin-top: -30px;
    margin-left: 675px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}
.backward{
    font-size: 70px;
    width: 50px;
}
#password{
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    top:-20px;
}
.step1{
    color: gray;
    font-size: 30px;
    display: block;

}
.menu{
    margin-left: 60px;
    margin-top: -150px;
}
.percent1{
    width: 33%;
    border: 2px solid #0068F5;
    margin-top: -11px;
    margin-left: -20px;
}
.full{
    border: 2px solid gray;
}
.back{
    margin-left: 50px;
    margin-top: -50px;
}
.info{
    font-size: 25px;
}
.info li{
    text-transform: lowercase;
    font-weight: normal;
    width: 400px;
    list-style: square;
    margin-top: -5px;
    font-size: 28px;
}
.percent2{
    width: 66%;
    border: 2px solid #0068F5;
    margin-top: -11px;
    margin-left: -20px;
}
.info p{
    font-size: 28px;
}
.explenation{
    color: gray;
}
.gender input{
    margin: 0;
    padding:0;
    width: 100px;
    font-size: 28px;
}
.gender{
    position: relative;
    right: 40px;
    font-size: 28px;
}
p{
    width: 500px;
}
.info{
    position: relative;
    top:-40px;
}
.percent3{
    border: 2px solid #0068F5;
    margin-top: -11px;
    margin-left: -20px;
}
.check input{
    width: 50px;
    padding: 10px;
}
.check{
    font-size: 28px;
    width: 700px;
    margin-left: 400px;
}
.check span{
    font-family: Arial;
    font-weight: bold;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.check p{
    width: 750px;
}
.check{
    margin-left: 370px;
    padding-top: 20px;
}
.info .radio{
    margin-left: 40px;
}
.navigationBar ul:first-of-type li{
    position: relative;
    top:-8px;
}
.navigationBar ul:first-of-type{
    position: relative;
    right:5px;
}
.navigationBar ul:last-of-type{
    position: relative;
    left: 5px;
}
.navigationBar ul:last-of-type li{
    position: relative;
    top:-6px;
}
.block{
    position: relative;
    top:-12px;
}
.body{
    height: 65px;
}
footer{
    margin-top: 100px;
}
